* {
    margin: 0;
    padding: 0;
    font-family: system-ui, 
                -apple-system, 
                BlinkMacSystemFont, 
                'Segoe UI', 
                Roboto, 
                Oxygen, 
                Ubuntu, 
                Cantarell, 
                'Open Sans', 
                'Helvetica Neue', 
                sans-serif;
    align-items: center;
}

.container, .tiles-container, footer {
    display: flex;
    flex: 1;
}

.about-me-details,
.projects,
.tiles,
.resume-email-section {
    flex-direction: column;
}

.logo-image, .about-me-details {
    margin-left: 15vw;
}

ul, .about-me-image {
    margin-right: 15vw;
}

/* makes footer stay on the bottom */
header, main, footer {
    flex-grow: 1;
    flex-shrink: 0;
}

header, .about-me, footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    padding: 10px 0;
}

.logo-image {
    height: 50px;
}

.about-me-details {
    align-items: start;
    padding: 10px 0;
}

.about-me-image {
    width: 100%;
}

ul {
    list-style-type: none;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    margin-left: 30px;
}

a, p, h4, .about-me-button, .buttons, footer {
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    color: #f9faf8;
}

#projects-header, figcaption {
    color: #1F2937;
    text-align: center;
}

h1, #projects-header {
    font-size: 48px;
    font-weight: 900;
}

.projects {
    justify-content: center;
    padding: 10px;
    margin: 5vh 0;
}

.tiles-container {
    gap: 20px;
    align-items: flex-start;
}

.tile-images {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: solid 5px #3882f6;
    border-radius: 10px;
    margin: 30px;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
    text-align: center;
}

.tile-description,
.tile-link {
    text-align: center;
    color:#1F2937
}

.tile-link {
    text-decoration: underline;
    margin: 0;
}

.quote-section {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.quote-author {
    font-size: 24px;
    display: block;
    text-align: end;
}

.quote {
    margin: 0 25vw;
    padding: 10vh 0;
}

.resume-email-section {
    background-color: #3882f6;
    margin: 10vh 15vw;
    border-radius: 10px;
    padding: 30px 0;
    align-items: start;
}

.question {
    align-items: start;
    margin: 0 10vw;
    flex-direction: row;
}

.about-me-button, .buttons {
    background-color: #3882f6;
    margin: 10px 0;
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: bold;
    border: solid #3882f6;
}

.buttons {
    border: solid 1px #e5e7eb;
}

#resume-button,
#email-button {
    justify-content: flex-end;
    align-content: flex-end;
    margin-right: 10vw;
}

footer {
    padding: 15px;
    justify-content: center;
}