* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, .about-me {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.about-me-image {
    display: flex;
    flex: 1;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    flex: 1;
    align-items: center;
}

.logo-image {
    height: 50px;
    margin: 10px;
}

/* makes footer stay on the bottom */
header, main, footer {
    flex-grow: 1;
    flex-shrink: 0;
}

header, .about-me, footer {
    background-color: #1F2937;
    display: flex;
}

header {
    display: flex;
    height: 60px;
}

nav, .about-me {
    display: flex;
    flex-direction: row;
    flex: 1;
    border: solid white;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    border: solid;
}

.links {
    display: flex;
    flex: 1;
    justify-content: center;
}

h1 {
    /* font-family: ; */
    color: #f9faf8;
}

#projects-header, figcaption {
    color: #1F2937;
    align-items: center;
    text-align: center;
}

h1, #projects-header {
    font-size: 48px;
    font-weight: 900
    ;
}

.projects {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.tiles-container {
    display: flex;
}

.tile-images {
    width: 100px;
    padding: 10px;
    border: solid 5px #3882f6;
    border-radius: 10px;
    margin: 30px;
}

.quote-section {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: 1f2937;
}

.resume-section, .email-section, .resume-email-section {
    background-color: #3882f6;
    font-size: 24px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resume-email-section {
    margin: 30px;
    padding: 30px;
    border-radius: 30px;
}

.buttons {
    background-color: #3882f6;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: solid 1px #e5e7eb;
    font-size: 18px;
}

p, button, footer {
    color: #e5e7eb;
}

footer {
    padding: 15px;
    justify-content: center;
    align-items: center;
}